.u-separator-bottom {
    border-bottom: 1px solid #ddd!important;
    padding-bottom: 2rem!important;
    padding-bottom: 20px;
    padding-bottom: 2rem;
}

.container {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 50px;
    margin: 0 auto 5rem;
}

*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    color: #555;
    font-family: opensans,Arial,sans-serif;
    line-height: 1.71429;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
}

.container:after, .container:before {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}
.container:after, .container:before {
    content: "";
    display: table;
}
.container:after {
    content: " ";
    display: block;
}
*, :after, :before {
    box-sizing: inherit;
}
::selection {
    color: #fff;
    background-color: #002d62;
}